In [1514]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [1515]:
onu = pd.read_csv('env/migration_onu.csv',  encoding = 'unicode_escape', dtype = object)
onu.head(2)

,Index,'Region,development group,country or area of destination',Notes of destination,Location code of destination,Type of data of destination,'Region.1,development group.1,country or area of origin',Location code of origin,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2
0,1,WORLD,NaN,900,NaN,WORLD,900,152 986 157,161 289 976,173 230 585,191 446 828,220 983 187,247 958 644,280 598 105,77 563 467,81 581 501,87 719 833,97 663 081,113 940 881,128 238 058,145 655 844,75 422 690,79 708 475,85 510 752,93 783 747,107 042 306,119 720 586,134 942 261
1,2,WORLD,NaN,900,NaN,Sub-Saharan Africa,947,15 334 807,16 488 973,15 638 014,17 274 985,19 942 724,24 197 211,28 284 538,8 136 844,8 677 806,8 246 575,9 227 058,10 531 120,12 578 348,14 732 802,7 197 963,7 811 167,7 391 439,8 047 927,9 411 604,11 618 863,13 551 736

Due to the naming structure of the original data, the columns' names don't match the values. We rename them to fix the issue.

In [1516]:
onu.columns = ['Index', 'Destination', 'Destination_Notes', 'Destination_Code', 'Destination_Type_of_Data', 'Origin', 'Origin_Code', '1990', '1995', '2000', '2005', '2010', '2015', '2020', '1990.1', '1995.1', '2000.1', '2005.1', '2010.1', '2015.1', '2020.1', '1990.2', '1995.2', '2000.2', '2005.2', '2010.2', '2015.2', '2020.2']

In [1517]:
onu

,Index,Destination,Destination_Notes,Destination_Code,Destination_Type_of_Data,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
0,1,WORLD,NaN,900,NaN,WORLD,900,152 986 157,161 289 976,173 230 585,191 446 828,220 983 187,247 958 644,280 598 105,77 563 467,81 581 501,87 719 833,97 663 081,113 940 881,128 238 058,145 655 844,75 422 690,79 708 475,85 510 752,93 783 747,107 042 306,119 720 586,134 942 261
1,2,WORLD,NaN,900,NaN,Sub-Saharan Africa,947,15 334 807,16 488 973,15 638 014,17 274 985,19 942 724,24 197 211,28 284 538,8 136 844,8 677 806,8 246 575,9 227 058,10 531 120,12 578 348,14 732 802,7 197 963,7 811 167,7 391 439,8 047 927,9 411 604,11 618 863,13 551 736
2,3,WORLD,NaN,900,NaN,Northern Africa and Western Asia,1833,16 365 218,18 069 437,19 437 054,21 867 791,25 313 711,32 606 047,37 563 820,8 830 013,9 829 261,10 736 407,12 097 241,14 249 463,18 177 303,20 941 050,7 535 205,8 240 176,8 700 647,9 770 550,11 064 248,14 428 744,16 622 770
3,4,WORLD,NaN,900,NaN,Central and Southern Asia,921,31 104 020,29 069 983,30 897 694,33 347 690,41 082 388,46 481 130,51 229 549,17 054 672,16 042 463,17 179 372,18 895 884,24 444 167,27 971 106,31 211 577,14 049 348,13 027 520,13 718 322,14 451 806,16 638 221,18 510 024,20 017 972
4,5,WORLD,NaN,900,NaN,Eastern and South-Eastern Asia,1832,14 774 419,17 860 923,21 440 854,25 556 983,30 977 206,35 205 590,38 400 740,7 414 751,8 861 759,10 500 432,12 487 051,15 130 964,17 150 433,18 801 912,7 359 668,8 999 164,10 940 422,13 069 932,15 846 242,18 055 157,19 598 828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37046,37047,Wallis and Futuna Islands*,41,876,B R,French Polynesia*,258,18,23,28,32,19,15,10,10,12,15,16,10,8,5,8,11,13,16,9,7,5
37047,37048,Wallis and Futuna Islands*,41,876,B R,Mayotte*,175,35,44,52,58,41,38,27,19,24,28,30,23,26,18,16,20,24,28,18,12,9
37048,37049,Wallis and Futuna Islands*,41,876,B R,New Caledonia*,540,843,975,1 152,1 207,1 093,1 021,1 021,433,495,578,609,548,508,509,410,480,574,598,545,513,512
37049,37050,Wallis and Futuna Islands*,41,876,B R,Vanuatu,548,152,165,195,197,138,72,67,79,85,99,100,70,38,39,73,80,96,97,68,34,28
37050,37051,Wallis and Futuna Islands*,41,876,B R,Other,2003,27,36,43,51,25,27,26,15,20,23,26,13,12,13,12,16,20,25,12,15,13

We drop the column 'Index' because it's unnecessary and repetitive.

In [1518]:
onu.drop(['Index'], axis=1, inplace=True)
onu.head(1)

,Destination,Destination_Notes,Destination_Code,Destination_Type_of_Data,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
0,WORLD,NaN,900,NaN,WORLD,900,152 986 157,161 289 976,173 230 585,191 446 828,220 983 187,247 958 644,280 598 105,77 563 467,81 581 501,87 719 833,97 663 081,113 940 881,128 238 058,145 655 844,75 422 690,79 708 475,85 510 752,93 783 747,107 042 306,119 720 586,134 942 261

In [1519]:
onu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37051 entries, 0 to 37050
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Destination               37051 non-null  object
 1   Destination_Notes         4320 non-null   object
 2   Destination_Code          36305 non-null  object
 3   Destination_Type_of_Data  23937 non-null  object
 4   Origin                    36437 non-null  object
 5   Origin_Code               37051 non-null  object
 6   1990                      37051 non-null  object
 7   1995                      37051 non-null  object
 8   2000                      37051 non-null  object
 9   2005                      37051 non-null  object
 10  2010                      37051 non-null  object
 11  2015                      37051 non-null  object
 12  2020                      37051 non-null  object
 13  1990.1                    37051 non-null  object
 14  1995.1                    37051 non-null  object
 15  2000.1                    37051 non-null  object
 16  2005.1                    37051 non-null  object
 17  2010.1                    37051 non-null  object
 18  2015.1                    37051 non-null  object
 19  2020.1                    37051 non-null  object
 20  1990.2                    37051 non-null  object
 21  1995.2                    37051 non-null  object
 22  2000.2                    37051 non-null  object
 23  2005.2                    37051 non-null  object
 24  2010.2                    37051 non-null  object
 25  2015.2                    37051 non-null  object
 26  2020.2                    37051 non-null  object
dtypes: object(27)
memory usage: 7.6+ MB

We have no need for columns 'Destination_Notes' and 'Destination_Type_of_Data', therefore, they are also dropped

In [1520]:
onu.drop(['Destination_Notes', 'Destination_Type_of_Data'], axis=1, inplace=True)

In [1521]:
onu

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
0,WORLD,900,WORLD,900,152 986 157,161 289 976,173 230 585,191 446 828,220 983 187,247 958 644,280 598 105,77 563 467,81 581 501,87 719 833,97 663 081,113 940 881,128 238 058,145 655 844,75 422 690,79 708 475,85 510 752,93 783 747,107 042 306,119 720 586,134 942 261
1,WORLD,900,Sub-Saharan Africa,947,15 334 807,16 488 973,15 638 014,17 274 985,19 942 724,24 197 211,28 284 538,8 136 844,8 677 806,8 246 575,9 227 058,10 531 120,12 578 348,14 732 802,7 197 963,7 811 167,7 391 439,8 047 927,9 411 604,11 618 863,13 551 736
2,WORLD,900,Northern Africa and Western Asia,1833,16 365 218,18 069 437,19 437 054,21 867 791,25 313 711,32 606 047,37 563 820,8 830 013,9 829 261,10 736 407,12 097 241,14 249 463,18 177 303,20 941 050,7 535 205,8 240 176,8 700 647,9 770 550,11 064 248,14 428 744,16 622 770
3,WORLD,900,Central and Southern Asia,921,31 104 020,29 069 983,30 897 694,33 347 690,41 082 388,46 481 130,51 229 549,17 054 672,16 042 463,17 179 372,18 895 884,24 444 167,27 971 106,31 211 577,14 049 348,13 027 520,13 718 322,14 451 806,16 638 221,18 510 024,20 017 972
4,WORLD,900,Eastern and South-Eastern Asia,1832,14 774 419,17 860 923,21 440 854,25 556 983,30 977 206,35 205 590,38 400 740,7 414 751,8 861 759,10 500 432,12 487 051,15 130 964,17 150 433,18 801 912,7 359 668,8 999 164,10 940 422,13 069 932,15 846 242,18 055 157,19 598 828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37046,Wallis and Futuna Islands*,876,French Polynesia*,258,18,23,28,32,19,15,10,10,12,15,16,10,8,5,8,11,13,16,9,7,5
37047,Wallis and Futuna Islands*,876,Mayotte*,175,35,44,52,58,41,38,27,19,24,28,30,23,26,18,16,20,24,28,18,12,9
37048,Wallis and Futuna Islands*,876,New Caledonia*,540,843,975,1 152,1 207,1 093,1 021,1 021,433,495,578,609,548,508,509,410,480,574,598,545,513,512
37049,Wallis and Futuna Islands*,876,Vanuatu,548,152,165,195,197,138,72,67,79,85,99,100,70,38,39,73,80,96,97,68,34,28
37050,Wallis and Futuna Islands*,876,Other,2003,27,36,43,51,25,27,26,15,20,23,26,13,12,13,12,16,20,25,12,15,13

We strip whitespaces from year columns

In [1522]:
onu[['1990', '1995', '2000', '2005', '2010', '2015', '2020', '1990.1', '1995.1', '2000.1', '2005.1', '2010.1', '2015.1', '2020.1', '1990.2', '1995.2', '2000.2', '2005.2', '2010.2', '2015.2', '2020.2']] = onu[['1990', '1995', '2000', '2005', '2010', '2015', '2020', '1990.1', '1995.1', '2000.1', '2005.1', '2010.1', '2015.1', '2020.1', '1990.2', '1995.2', '2000.2', '2005.2', '2010.2', '2015.2', '2020.2']].astype(str).replace(' ', '', regex=True)

In [1523]:
onu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37051 entries, 0 to 37050
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Destination       37051 non-null  object
 1   Destination_Code  36305 non-null  object
 2   Origin            36437 non-null  object
 3   Origin_Code       37051 non-null  object
 4   1990              37051 non-null  object
 5   1995              37051 non-null  object
 6   2000              37051 non-null  object
 7   2005              37051 non-null  object
 8   2010              37051 non-null  object
 9   2015              37051 non-null  object
 10  2020              37051 non-null  object
 11  1990.1            37051 non-null  object
 12  1995.1            37051 non-null  object
 13  2000.1            37051 non-null  object
 14  2005.1            37051 non-null  object
 15  2010.1            37051 non-null  object
 16  2015.1            37051 non-null  object
 17  2020.1            37051 non-null  object
 18  1990.2            37051 non-null  object
 19  1995.2            37051 non-null  object
 20  2000.2            37051 non-null  object
 21  2005.2            37051 non-null  object
 22  2010.2            37051 non-null  object
 23  2015.2            37051 non-null  object
 24  2020.2            37051 non-null  object
dtypes: object(25)
memory usage: 7.1+ MB

Non existing values are represented by '..'. We need to change that

In [1524]:
onu[['1990', '1995', '2000', '2005', '2010', '2015', '2020', '1990.1', '1995.1', '2000.1', '2005.1', '2010.1', '2015.1', '2020.1', '1990.2', '1995.2', '2000.2', '2005.2', '2010.2', '2015.2', '2020.2']].value_counts()

1990                               1995     2000      2005      2010      2015      2020      1990.1    1995.1    2000.1    2005.1    2010.1    2015.1    2020.1    1990.2    1995.2    2000.2    2005.2    2010.2    2015.2    2020.2
..                                 ..       ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..          7496
                                                                          1         ..        ..        ..        ..        ..        ..        1         ..        ..        ..        ..        ..        ..        ..        ..            71
158                                ..       ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..            46
..                                 ..       ..        ..        ..        1         ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        ..        1         ..            38
                                                                          2         ..        ..        ..        ..        ..        ..        2         ..        ..        ..        ..        ..        ..        ..        ..            30
                                                                                                                                                                                                                                            ...
2331                               2159     2209      2366      2559      3090      3377      1415      1299      1292      1419      1542      1834      2032      916       860       917       947       1017      1256      1345           1
2330834                            2339931  2315700   2305054   2366360   2375840   2516289   1199047   1195385   1177381   1164314   1190734   1202944   1268360   1131787   1144546   1138319   1140740   1175626   1172896   1247929        1
233083                             121032   106674    118689    125021    100188    144667    116906    61138     55249     61508     65712     52009     73970     116177    59894     51425     57181     59309     48179     70697          1
23305                              24924    27041     34229     37265     43986     49702     12212     12878     13780     17266     19149     21970     24620     11093     12046     13261     16963     18116     22016     25082          1
excludingleastdevelopedcountries'  934      25142254  26278038  28410431  32464669  41871676  51925772  62366486  13710143  14384996  15616854  18179721  24430798  30532596  36502954  11432111  11893042  12793577  14284948  17440878       1
Length: 24460, dtype: int64

We replace the two dots with 0

In [1525]:
onu[['1990', '1995', '2000', '2005', '2010', '2015', '2020', '1990.1', '1995.1', '2000.1', '2005.1', '2010.1', '2015.1', '2020.1', '1990.2', '1995.2', '2000.2', '2005.2', '2010.2', '2015.2', '2020.2']] = onu[['1990', '1995', '2000', '2005', '2010', '2015', '2020', '1990.1', '1995.1', '2000.1', '2005.1', '2010.1', '2015.1', '2020.1', '1990.2', '1995.2', '2000.2', '2005.2', '2010.2', '2015.2', '2020.2']].astype(str).replace('..', '0')

We check if the change was made correctly

In [1526]:
onu[['1990', '1995', '2000', '2005', '2010', '2015', '2020', '1990.1', '1995.1', '2000.1', '2005.1', '2010.1', '2015.1', '2020.1', '1990.2', '1995.2', '2000.2', '2005.2', '2010.2', '2015.2', '2020.2']].value_counts()

1990                               1995     2000      2005      2010      2015      2020      1990.1    1995.1    2000.1    2005.1    2010.1    2015.1    2020.1    1990.2    1995.2    2000.2    2005.2    2010.2    2015.2    2020.2
0                                  0        0         0         0         0         0         0         0         0         0         0         0         0         0         0         0         0         0         0         0           7496
                                                                          1         0         0         0         0         0         0         1         0         0         0         0         0         0         0         0             71
158                                0        0         0         0         0         0         0         0         0         0         0         0         0         0         0         0         0         0         0         0             46
0                                  0        0         0         0         1         0         0         0         0         0         0         0         0         0         0         0         0         0         1         0             38
                                                                          2         0         0         0         0         0         0         2         0         0         0         0         0         0         0         0             30
                                                                                                                                                                                                                                            ...
2331                               2159     2209      2366      2559      3090      3377      1415      1299      1292      1419      1542      1834      2032      916       860       917       947       1017      1256      1345           1
2330834                            2339931  2315700   2305054   2366360   2375840   2516289   1199047   1195385   1177381   1164314   1190734   1202944   1268360   1131787   1144546   1138319   1140740   1175626   1172896   1247929        1
233083                             121032   106674    118689    125021    100188    144667    116906    61138     55249     61508     65712     52009     73970     116177    59894     51425     57181     59309     48179     70697          1
23305                              24924    27041     34229     37265     43986     49702     12212     12878     13780     17266     19149     21970     24620     11093     12046     13261     16963     18116     22016     25082          1
excludingleastdevelopedcountries'  934      25142254  26278038  28410431  32464669  41871676  51925772  62366486  13710143  14384996  15616854  18179721  24430798  30532596  36502954  11432111  11893042  12793577  14284948  17440878       1
Length: 24460, dtype: int64

There's still some normalization to do. Some columns have white spaces and special characters.

In [1527]:
onu.Destination.value_counts()

  Australia and New Zealand       566
' Less developed regions          566
WORLD                             283
  Northern Europe                 283
  Southern Africa                 283
                                 ...
   Saint Helena*                   51
   Monaco                          51
   Holy See*                       49
   Saint Barthelemy*               48
   Saint Martin (French part)*     48
Name: Destination, Length: 279, dtype: int64

We solve the problem by replacing them with nothing, using regular expressions

In [1528]:
onu = onu.replace('\W', '', regex=True)

We know the null values are in two distinct columns. Let's look for them

In [1529]:
onu.loc[onu['Destination_Code'].isna()]

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
3113,Lessdevelopedregions,NaN,NaN,WORLD,900,59158726,56673106,59204627,64976460,79989053,94124050,107159937,31586436,30379836,31883994,35617824,45371137,53851671,61492223,27572290,26293270,27320633,29358636,34617916,40272379
3114,Lessdevelopedregions,NaN,NaN,SubSaharanAfrica,947,4605987,5148523,5565555,6655048,7902145,9077407,9537042,2662740,2905009,3104487,3761150,4455781,5009732,5306816,1943247,2243514,2461068,2893898,3446364,4067675
3115,Lessdevelopedregions,NaN,NaN,NorthernAfricaandWesternAsia,1833,6817551,7653514,8370784,9397742,12092901,17100040,19534187,3664745,4152442,4622706,5293330,7017653,9911672,11310060,3152806,3501072,3748078,4104412,5075248,7188368
3116,Lessdevelopedregions,NaN,NaN,CentralandSouthernAsia,921,22689433,19008993,19497273,20136240,26008452,29109190,31916084,12855407,11038933,11474187,12207448,16706063,19083528,21349410,9834026,7970060,8023086,7928792,9302389,10025662
3117,Lessdevelopedregions,NaN,NaN,EasternandSouthEasternAsia,1832,6311388,7588543,9196493,11400899,14567577,16863043,18358006,3404103,3997231,4741697,5895668,7616217,8840195,9637678,2907285,3591312,4454796,5505231,6951360,8022848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13439,China,NaN,NaN,OCEANIA,909,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13440,China,NaN,NaN,AustraliaandNewZealand,927,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13441,China,NaN,NaN,Melanesia,928,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13442,China,NaN,NaN,Micronesia,954,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13443,China,NaN,NaN,Polynesia,957,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

As we can see, column 'Destination' has null values for China and Lessdevelopedregions, lets fix China first.

In [1530]:
onu.loc[onu['Destination'] == 'China']

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
13195,China,156,WORLD,900,376361,442198,508034,678947,849861,978046,1039675,191954,223018,254082,379920,505758,600136,637952,184407,219180,253952,299027,344103,377910,401723
13196,China,156,SubSaharanAfrica,947,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13197,China,156,NorthernAfricaandWesternAsia,1833,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13198,China,156,CentralandSouthernAsia,921,2832,4982,7227,10444,13194,16273,17696,1296,2350,3491,5604,7673,9776,10634,1536,2632,3736,4840,5521,6497,7062
13199,China,156,EasternandSouthEasternAsia,1832,342897,375837,404380,529095,660569,744556,785691,174487,189542,202627,297735,393652,457502,482800,168410,186295,201753,231360,266917,287054,302891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13439,China,NaN,NaN,OCEANIA,909,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13440,China,NaN,NaN,AustraliaandNewZealand,927,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13441,China,NaN,NaN,Melanesia,928,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13442,China,NaN,NaN,Micronesia,954,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13443,China,NaN,NaN,Polynesia,957,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

We can see that the Destination code of China is 156, so we replace the null values with the correct code.

In [1531]:
onu.loc[onu['Destination'] == 'China'] = onu.loc[onu['Destination'] == 'China'].fillna(156)

Now we have to replace the code with the country's name in the column 'Origin'.

In [1532]:
onu.loc[onu['Destination'] == 'China']

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
13195,China,156,WORLD,900,376361,442198,508034,678947,849861,978046,1039675,191954,223018,254082,379920,505758,600136,637952,184407,219180,253952,299027,344103,377910,401723
13196,China,156,SubSaharanAfrica,947,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13197,China,156,NorthernAfricaandWesternAsia,1833,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13198,China,156,CentralandSouthernAsia,921,2832,4982,7227,10444,13194,16273,17696,1296,2350,3491,5604,7673,9776,10634,1536,2632,3736,4840,5521,6497,7062
13199,China,156,EasternandSouthEasternAsia,1832,342897,375837,404380,529095,660569,744556,785691,174487,189542,202627,297735,393652,457502,482800,168410,186295,201753,231360,266917,287054,302891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13439,China,156,156,OCEANIA,909,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13440,China,156,156,AustraliaandNewZealand,927,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13441,China,156,156,Melanesia,928,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13442,China,156,156,Micronesia,954,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13443,China,156,156,Polynesia,957,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [1533]:
onu.Origin = onu.Origin.replace(156, 'China', regex=True)

In [1534]:
onu.loc[onu['Destination'] == 'China']

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
13195,China,156,WORLD,900,376361,442198,508034,678947,849861,978046,1039675,191954,223018,254082,379920,505758,600136,637952,184407,219180,253952,299027,344103,377910,401723
13196,China,156,SubSaharanAfrica,947,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13197,China,156,NorthernAfricaandWesternAsia,1833,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13198,China,156,CentralandSouthernAsia,921,2832,4982,7227,10444,13194,16273,17696,1296,2350,3491,5604,7673,9776,10634,1536,2632,3736,4840,5521,6497,7062
13199,China,156,EasternandSouthEasternAsia,1832,342897,375837,404380,529095,660569,744556,785691,174487,189542,202627,297735,393652,457502,482800,168410,186295,201753,231360,266917,287054,302891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13439,China,156,China,OCEANIA,909,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13440,China,156,China,AustraliaandNewZealand,927,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13441,China,156,China,Melanesia,928,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13442,China,156,China,Micronesia,954,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13443,China,156,China,Polynesia,957,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

Now lets do the same for Lessdevelopedregions

In [1535]:
onu.loc[onu['Destination'] == 'Lessdevelopedregions']

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
2830,Lessdevelopedregions,902,WORLD,900,70218947,68354883,69268575,74768471,90420929,107564165,123344662,37136669,36203913,36917926,40589449,50556340,60539871,69527747,33082278,32150970,32350649,34179022,39864589,47024294,53816915
2831,Lessdevelopedregions,902,SubSaharanAfrica,947,13104484,13717879,12245652,12719230,14282561,17525848,20177223,6959645,7227424,6482046,6891971,7643148,9253308,10625898,6144839,6490455,5763606,5827259,6639413,8272540,9551325
2832,Lessdevelopedregions,902,NorthernAfricaandWesternAsia,1833,7126178,8113914,8913281,10211873,12745535,18295042,20825246,3823045,4388694,4901752,5697638,7332599,10491688,11924387,3303133,3725220,4011529,4514235,5412936,7803354,8900859
2833,Lessdevelopedregions,902,CentralandSouthernAsia,921,23240773,19812501,20346697,20979307,26791833,30051973,32664973,13063121,11332765,11798896,12546613,17027250,19486479,21636741,10177652,8479736,8547801,8432694,9764583,10565494,11028232
2834,Lessdevelopedregions,902,EasternandSouthEasternAsia,1832,7150263,8491717,10163981,12327135,15657335,17978053,20140424,3835862,4461822,5240223,6381821,8183676,9425273,10678609,3314401,4029895,4923758,5945314,7473659,8552780,9461815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3674,Lessdevelopedregions,NaN,NaN,Samoa,882,15303,16787,18264,17400,16642,16632,16694,7944,8635,9310,8818,8380,8332,8365,7359,8152,8954,8582,8262,8300
3675,Lessdevelopedregions,NaN,NaN,Tokelau,772,161,162,162,151,132,111,104,81,81,80,75,65,54,52,80,81,82,76,67,57
3676,Lessdevelopedregions,NaN,NaN,Tonga,776,2691,2651,2610,2699,2784,3780,3766,1451,1414,1380,1428,1479,2062,2060,1240,1237,1230,1271,1305,1718
3677,Lessdevelopedregions,NaN,NaN,Tuvalu,798,1179,1154,1140,1111,864,885,912,653,632,625,614,477,496,518,526,522,515,497,387,389
3678,Lessdevelopedregions,NaN,NaN,WallisandFutunaIslands,876,5600,6492,7375,7422,7460,11223,11913,2921,3342,3752,3694,3630,5364,5671,2679,3150,3623,3728,3830,5859

In [1536]:
onu.loc[onu['Destination'] == 'Lessdevelopedregions'] = onu.loc[onu['Destination'] == 'Lessdevelopedregions'].fillna(902)

In [1537]:
onu.loc[onu['Destination'] == 'Lessdevelopedregions']

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
2830,Lessdevelopedregions,902,WORLD,900,70218947,68354883,69268575,74768471,90420929,107564165,123344662,37136669,36203913,36917926,40589449,50556340,60539871,69527747,33082278,32150970,32350649,34179022,39864589,47024294,53816915
2831,Lessdevelopedregions,902,SubSaharanAfrica,947,13104484,13717879,12245652,12719230,14282561,17525848,20177223,6959645,7227424,6482046,6891971,7643148,9253308,10625898,6144839,6490455,5763606,5827259,6639413,8272540,9551325
2832,Lessdevelopedregions,902,NorthernAfricaandWesternAsia,1833,7126178,8113914,8913281,10211873,12745535,18295042,20825246,3823045,4388694,4901752,5697638,7332599,10491688,11924387,3303133,3725220,4011529,4514235,5412936,7803354,8900859
2833,Lessdevelopedregions,902,CentralandSouthernAsia,921,23240773,19812501,20346697,20979307,26791833,30051973,32664973,13063121,11332765,11798896,12546613,17027250,19486479,21636741,10177652,8479736,8547801,8432694,9764583,10565494,11028232
2834,Lessdevelopedregions,902,EasternandSouthEasternAsia,1832,7150263,8491717,10163981,12327135,15657335,17978053,20140424,3835862,4461822,5240223,6381821,8183676,9425273,10678609,3314401,4029895,4923758,5945314,7473659,8552780,9461815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3674,Lessdevelopedregions,902,902,Samoa,882,15303,16787,18264,17400,16642,16632,16694,7944,8635,9310,8818,8380,8332,8365,7359,8152,8954,8582,8262,8300
3675,Lessdevelopedregions,902,902,Tokelau,772,161,162,162,151,132,111,104,81,81,80,75,65,54,52,80,81,82,76,67,57
3676,Lessdevelopedregions,902,902,Tonga,776,2691,2651,2610,2699,2784,3780,3766,1451,1414,1380,1428,1479,2062,2060,1240,1237,1230,1271,1305,1718
3677,Lessdevelopedregions,902,902,Tuvalu,798,1179,1154,1140,1111,864,885,912,653,632,625,614,477,496,518,526,522,515,497,387,389
3678,Lessdevelopedregions,902,902,WallisandFutunaIslands,876,5600,6492,7375,7422,7460,11223,11913,2921,3342,3752,3694,3630,5364,5671,2679,3150,3623,3728,3830,5859

In [1538]:
onu.Origin = onu.Origin.replace(902, 'Lessdevelopedregions', regex=True)

In [1539]:
onu.loc[onu['Destination'] == 'Lessdevelopedregions']

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
2830,Lessdevelopedregions,902,WORLD,900,70218947,68354883,69268575,74768471,90420929,107564165,123344662,37136669,36203913,36917926,40589449,50556340,60539871,69527747,33082278,32150970,32350649,34179022,39864589,47024294,53816915
2831,Lessdevelopedregions,902,SubSaharanAfrica,947,13104484,13717879,12245652,12719230,14282561,17525848,20177223,6959645,7227424,6482046,6891971,7643148,9253308,10625898,6144839,6490455,5763606,5827259,6639413,8272540,9551325
2832,Lessdevelopedregions,902,NorthernAfricaandWesternAsia,1833,7126178,8113914,8913281,10211873,12745535,18295042,20825246,3823045,4388694,4901752,5697638,7332599,10491688,11924387,3303133,3725220,4011529,4514235,5412936,7803354,8900859
2833,Lessdevelopedregions,902,CentralandSouthernAsia,921,23240773,19812501,20346697,20979307,26791833,30051973,32664973,13063121,11332765,11798896,12546613,17027250,19486479,21636741,10177652,8479736,8547801,8432694,9764583,10565494,11028232
2834,Lessdevelopedregions,902,EasternandSouthEasternAsia,1832,7150263,8491717,10163981,12327135,15657335,17978053,20140424,3835862,4461822,5240223,6381821,8183676,9425273,10678609,3314401,4029895,4923758,5945314,7473659,8552780,9461815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3674,Lessdevelopedregions,902,Lessdevelopedregions,Samoa,882,15303,16787,18264,17400,16642,16632,16694,7944,8635,9310,8818,8380,8332,8365,7359,8152,8954,8582,8262,8300
3675,Lessdevelopedregions,902,Lessdevelopedregions,Tokelau,772,161,162,162,151,132,111,104,81,81,80,75,65,54,52,80,81,82,76,67,57
3676,Lessdevelopedregions,902,Lessdevelopedregions,Tonga,776,2691,2651,2610,2699,2784,3780,3766,1451,1414,1380,1428,1479,2062,2060,1240,1237,1230,1271,1305,1718
3677,Lessdevelopedregions,902,Lessdevelopedregions,Tuvalu,798,1179,1154,1140,1111,864,885,912,653,632,625,614,477,496,518,526,522,515,497,387,389
3678,Lessdevelopedregions,902,Lessdevelopedregions,WallisandFutunaIslands,876,5600,6492,7375,7422,7460,11223,11913,2921,3342,3752,3694,3630,5364,5671,2679,3150,3623,3728,3830,5859

We've successfuly replaced all null values with the correct ones

In [1540]:
onu.isna().sum()

Destination         0
Destination_Code    0
Origin              0
Origin_Code         0
1990                0
1995                0
2000                0
2005                0
2010                0
2015                0
2020                0
1990.1              0
1995.1              0
2000.1              0
2005.1              0
2010.1              0
2015.1              0
2020.1              0
1990.2              0
1995.2              0
2000.2              0
2005.2              0
2010.2              0
2015.2              0
2020.2              0
dtype: int64

Column 'Origin_Code' has values corresponding to column 'Origin'

In [1541]:
onu['Origin_Code'].unique()

array(['900', '947', '1833', '921', '1832', '1830', '1835', '927', '1829',
       '901', '902', 'excludingleastdevelopedcountries', 'excludingChina',
       '941', '1636', '1637', '1503', '1517', '1502', '1501', '1500',
       '903', '910', '911', '912', '913', '914', '935', '5500', '906',
       '920', '5501', '922', '908', '923', '924', '925', '926', '904',
       '915', '916', '931', '905', '909', '928', '954', '957', '108',
       '174', '262', '232', '231', '404', '450', '454', '480', '175',
       '508', '638', '646', '690', '706', '728', '800', '834', '894',
       '716', '24', '120', '140', '148', '178', '180', '226', '266',
       '678', '12', '818', '434', '504', '729', '788', '732', '72', '748',
       '426', '516', '710', '204', '854', '132', '384', '270', '288',
       '324', '624', '430', '466', '478', '562', '566', '654', '686',
       '694', '768', '398', '417', '762', '795', '860', '156',
       'HongKongSAR', 'MacaoSAR', 'TaiwanProvinceofChina', '408', '392',
       '496', '410', '96', '116', '360', '418', '458', '104', '608',
       '702', '764', '626', '704', '4', '50', '64', '356', '364', '462',
       '524', '586', '144', '51', '31', '48', '196', '268', '368', '376',
       '400', '414', '422', '512', '634', '682', '275', '760', '792',
       '784', '887', '112', '100', '203', '348', '616', '498', '642',
       '643', '703', '804', '830', '208', '233', '234', '246', '352',
       '372', '833', '428', '440', '578', '752', '826', '8', '20', '70',
       '191', '292', '300', '336', '380', '470', '499', '807', '620',
       '674', '688', '705', '724', '40', '56', '250', '276', '438', '442',
       '492', '528', '756', '660', '28', '533', '44', '52',
       'SintEustatiusandSaba', '92', '136', '192', '531', '212', '214',
       '308', '312', '332', '388', '474', '500', '630', '652', '659',
       '662', '663', '670', '534', '780', '796', '850', '84', '188',
       '222', '320', '340', '484', '558', '591', '32', '68', '76', '152',
       '170', '218', '238', '254', '328', '600', '604', '740', '858',
       '862', '60', '124', '304', '666', '840', '36', '554', '242', '540',
       '598', '90', '548', '316', '296', '584', '583', '520', '580',
       '585', '16', '184', '258', '570', '882', '772', '776', '798',
       '876', 'WORLD', 'SubSaharanAfrica', 'NorthernAfricaandWesternAsia',
       'CentralandSouthernAsia', 'EasternandSouthEasternAsia',
       'LatinAmericaandtheCaribbean',
       'OceaniaexcludingAustraliaandNewZealand', 'AustraliaandNewZealand',
       'EuropeandNorthernAmerica', 'Developedregions',
       'Lessdevelopedregions', 'Leastdevelopedcountries',
       'LandlockedDevelopingCountriesLLDC',
       'SmallislanddevelopingStatesSIDS', 'Highincomecountries',
       'Middleincomecountries', 'Uppermiddleincomecountries',
       'Lowermiddleincomecountries', 'Lowincomecountries', 'AFRICA',
       'EasternAfrica', 'MiddleAfrica', 'NorthernAfrica',
       'SouthernAfrica', 'WesternAfrica', 'ASIA', 'CentralAsia',
       'EasternAsia', 'SouthEasternAsia', 'SouthernAsia', 'WesternAsia',
       'EUROPE', 'EasternEurope', 'NorthernEurope', 'SouthernEurope',
       'WesternEurope', 'LATINAMERICAANDTHECARIBBEAN', 'Caribbean',
       'CentralAmerica', 'SouthAmerica', 'NORTHERNAMERICA', 'OCEANIA',
       'Melanesia', 'Micronesia', 'Polynesia', 'Burundi', 'Comoros',
       'Djibouti', 'Eritrea', 'Ethiopia', 'Kenya', 'Madagascar', 'Malawi',
       'Mauritius', 'Mayotte', 'Mozambique', 'Reunion', 'Rwanda',
       'Seychelles', 'Somalia', 'SouthSudan', 'Uganda',
       'UnitedRepublicofTanzania', 'Zambia', 'Zimbabwe', 'Angola',
       'Cameroon', 'CentralAfricanRepublic', 'Chad', 'Congo',
       'DemocraticRepublicoftheCongo', 'EquatorialGuinea', 'Gabon',
       'SaoTomeandPrincipe', 'Algeria', 'Egypt', 'Libya', 'Morocco',
       'Sudan', 'Tunisia', 'WesternSahara', 'Botswana', 'Eswatini',
       'Lesotho', 'Namibia', 'SouthAfrica', 'Benin', 'BurkinaFaso',
       'CaboVerde', 'CotedIvoire', 'Gambia', 'Ghana', 'Guinea',
       'GuineaBissau', 'Liberia', 'Mali', 'Mauritania', 'Niger',
       'Nigeria', 'SaintHelena', 'Senegal', 'SierraLeone', 'Togo',
       'Kazakhstan', 'Kyrgyzstan', 'Tajikistan', 'Turkmenistan',
       'Uzbekistan', 'China', 'DemPeoplesRepublicofKorea', 'Japan',
       'Mongolia', 'RepublicofKorea', 'BruneiDarussalam', 'Cambodia',
       'Indonesia', 'LaoPeoplesDemocraticRepublic', 'Malaysia', 'Myanmar',
       'Philippines', 'Singapore', 'Thailand', 'TimorLeste', 'VietNam',
       'Afghanistan', 'Bangladesh', 'Bhutan', 'India',
       'IranIslamicRepublicof', 'Maldives', 'Nepal', 'Pakistan',
       'SriLanka', 'Armenia', 'Azerbaijan', 'Bahrain', 'Cyprus',
       'Georgia', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman',
       'Qatar', 'SaudiArabia', 'StateofPalestine', 'SyrianArabRepublic',
       'Turkey', 'UnitedArabEmirates', 'Yemen', 'Belarus', 'Bulgaria',
       'Czechia', 'Hungary', 'Poland', 'RepublicofMoldova', 'Romania',
       'RussianFederation', 'Slovakia', 'Ukraine', 'ChannelIslands',
       'Denmark', 'Estonia', 'FaroeIslands', 'Finland', 'Iceland',
       'Ireland', 'IsleofMan', 'Latvia', 'Lithuania', 'Norway', 'Sweden',
       'UnitedKingdom', 'Albania', 'Andorra', 'BosniaandHerzegovina',
       'Croatia', 'Gibraltar', 'Greece', 'HolySee', 'Italy', 'Malta',
       'Montenegro', 'NorthMacedonia', 'Portugal', 'SanMarino', 'Serbia',
       'Slovenia', 'Spain', 'Austria', 'Belgium', 'France', 'Germany',
       'Liechtenstein', 'Luxembourg', 'Monaco', 'Netherlands',
       'Switzerland', 'Anguilla', 'AntiguaandBarbuda', 'Aruba', 'Bahamas',
       'Barbados', 'Bonaire', 'BritishVirginIslands', 'CaymanIslands',
       'Cuba', 'CuraÃao', 'Dominica', 'DominicanRepublic', 'Grenada',
       'Guadeloupe', 'Haiti', 'Jamaica', 'Martinique', 'Montserrat',
       'PuertoRico', 'SaintBarthelemy', 'SaintKittsandNevis',
       'SaintLucia', 'SaintMartinFrenchpart',
       'SaintVincentandtheGrenadines', 'SintMaartenDutchpart',
       'TrinidadandTobago', 'TurksandCaicosIslands',
       'UnitedStatesVirginIslands', 'Belize', 'CostaRica', 'ElSalvador',
       'Guatemala', 'Honduras', 'Mexico', 'Nicaragua', 'Panama',
       'Argentina', 'BoliviaPlurinationalStateof', 'Brazil', 'Chile',
       'Colombia', 'Ecuador', 'FalklandIslandsMalvinas', 'FrenchGuiana',
       'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay',
       'VenezuelaBolivarianRepublicof', 'Bermuda', 'Canada', 'Greenland',
       'SaintPierreandMiquelon', 'UnitedStatesofAmerica', 'Australia',
       'NewZealand', 'Fiji', 'NewCaledonia', 'PapuaNewGuinea',
       'SolomonIslands', 'Vanuatu', 'Guam', 'Kiribati', 'MarshallIslands',
       'MicronesiaFedStatesof', 'Nauru', 'NorthernMarianaIslands',
       'Palau', 'AmericanSamoa', 'CookIslands', 'FrenchPolynesia', 'Niue',
       'Samoa', 'Tokelau', 'Tonga', 'Tuvalu', 'WallisandFutunaIslands',
       '2003', 'Other'], dtype=object)

We create a dictionary with the values of the column 'Destination' as keys, and the values of column 'Destination_Values as values.

In [1542]:
my_dict = pd.Series(onu.Destination_Code.values,index=onu.Destination).to_dict()
my_dict

{'WORLD': '900',
 'SubSaharanAfrica': '947',
 'NorthernAfricaandWesternAsia': '1833',
 'CentralandSouthernAsia': '921',
 'EasternandSouthEasternAsia': '1832',
 'LatinAmericaandtheCaribbean': '1830',
 'OceaniaexcludingAustraliaandNewZealand': '1835',
 'AustraliaandNewZealand': '927',
 'EuropeandNorthernAmerica': '1829',
 'Developedregions': '901',
 'Lessdevelopedregions': 902,
 'Leastdevelopedcountries': '941',
 'LandlockedDevelopingCountriesLLDC': '1636',
 'SmallislanddevelopingStatesSIDS': '1637',
 'Highincomecountries': '1503',
 'Middleincomecountries': '1517',
 'Uppermiddleincomecountries': '1502',
 'Lowermiddleincomecountries': '1501',
 'Lowincomecountries': '1500',
 'AFRICA': '903',
 'EasternAfrica': '910',
 'Burundi': '108',
 'Comoros': '174',
 'Djibouti': '262',
 'Eritrea': '232',
 'Ethiopia': '231',
 'Kenya': '404',
 'Madagascar': '450',
 'Malawi': '454',
 'Mauritius': '480',
 'Mayotte': '175',
 'Mozambique': '508',
 'Reunion': '638',
 'Rwanda': '646',
 'Seychelles': '690',
 'Somalia': '706',
 'SouthSudan': '728',
 'Uganda': '800',
 'UnitedRepublicofTanzania': '834',
 'Zambia': '894',
 'Zimbabwe': '716',
 'MiddleAfrica': '911',
 'Angola': '24',
 'Cameroon': '120',
 'CentralAfricanRepublic': '140',
 'Chad': '148',
 'Congo': '178',
 'DemocraticRepublicoftheCongo': '180',
 'EquatorialGuinea': '226',
 'Gabon': '266',
 'SaoTomeandPrincipe': '678',
 'NorthernAfrica': '912',
 'Algeria': '12',
 'Egypt': '818',
 'Libya': '434',
 'Morocco': '504',
 'Sudan': '729',
 'Tunisia': '788',
 'WesternSahara': '732',
 'SouthernAfrica': '913',
 'Botswana': '72',
 'Eswatini': '748',
 'Lesotho': '426',
 'Namibia': '516',
 'SouthAfrica': '710',
 'WesternAfrica': '914',
 'Benin': '204',
 'BurkinaFaso': '854',
 'CaboVerde': '132',
 'CotedIvoire': '384',
 'Gambia': '270',
 'Ghana': '288',
 'Guinea': '324',
 'GuineaBissau': '624',
 'Liberia': '430',
 'Mali': '466',
 'Mauritania': '478',
 'Niger': '562',
 'Nigeria': '566',
 'SaintHelena': '654',
 'Senegal': '686',
 'SierraLeone': '694',
 'Togo': '768',
 'ASIA': '935',
 'CentralAsia': '5500',
 'Kazakhstan': '398',
 'Kyrgyzstan': '417',
 'Tajikistan': '762',
 'Turkmenistan': '795',
 'Uzbekistan': '860',
 'EasternAsia': '906',
 'China': 156,
 'DemPeoplesRepublicofKorea': '408',
 'Japan': '392',
 'Mongolia': '496',
 'RepublicofKorea': '410',
 'SouthEasternAsia': '920',
 'BruneiDarussalam': '96',
 'Cambodia': '116',
 'Indonesia': '360',
 'LaoPeoplesDemocraticRepublic': '418',
 'Malaysia': '458',
 'Myanmar': '104',
 'Philippines': '608',
 'Singapore': '702',
 'Thailand': '764',
 'TimorLeste': '626',
 'VietNam': '704',
 'SouthernAsia': '5501',
 'Afghanistan': '4',
 'Bangladesh': '50',
 'Bhutan': '64',
 'India': '356',
 'IranIslamicRepublicof': '364',
 'Maldives': '462',
 'Nepal': '524',
 'Pakistan': '586',
 'SriLanka': '144',
 'WesternAsia': '922',
 'Armenia': '51',
 'Azerbaijan': '31',
 'Bahrain': '48',
 'Cyprus': '196',
 'Georgia': '268',
 'Iraq': '368',
 'Israel': '376',
 'Jordan': '400',
 'Kuwait': '414',
 'Lebanon': '422',
 'Oman': '512',
 'Qatar': '634',
 'SaudiArabia': '682',
 'StateofPalestine': '275',
 'SyrianArabRepublic': '760',
 'Turkey': '792',
 'UnitedArabEmirates': '784',
 'Yemen': '887',
 'EUROPE': '908',
 'EasternEurope': '923',
 'Belarus': '112',
 'Bulgaria': '100',
 'Czechia': '203',
 'Hungary': '348',
 'Poland': '616',
 'RepublicofMoldova': '498',
 'Romania': '642',
 'RussianFederation': '643',
 'Slovakia': '703',
 'Ukraine': '804',
 'NorthernEurope': '924',
 'ChannelIslands': '830',
 'Denmark': '208',
 'Estonia': '233',
 'FaroeIslands': '234',
 'Finland': '246',
 'Iceland': '352',
 'Ireland': '372',
 'IsleofMan': '833',
 'Latvia': '428',
 'Lithuania': '440',
 'Norway': '578',
 'Sweden': '752',
 'UnitedKingdom': '826',
 'SouthernEurope': '925',
 'Albania': '8',
 'Andorra': '20',
 'BosniaandHerzegovina': '70',
 'Croatia': '191',
 'Gibraltar': '292',
 'Greece': '300',
 'HolySee': '336',
 'Italy': '380',
 'Malta': '470',
 'Montenegro': '499',
 'NorthMacedonia': '807',
 'Portugal': '620',
 'SanMarino': '674',
 'Serbia': '688',
 'Slovenia': '705',
 'Spain': '724',
 'WesternEurope': '926',
 'Austria': '40',
 'Belgium': '56',
 'France': '250',
 'Germany': '276',
 'Liechtenstein': '438',
 'Luxembourg': '442',
 'Monaco': '492',
 'Netherlands': '528',
 'Switzerland': '756',
 'LATINAMERICAANDTHECARIBBEAN': '904',
 'Caribbean': '915',
 'Anguilla': '660',
 'AntiguaandBarbuda': '28',
 'Aruba': '533',
 'Bahamas': '44',
 'Barbados': '52',
 'Bonaire': '16',
 'BritishVirginIslands': '92',
 'CaymanIslands': '136',
 'Cuba': '192',
 'CuraÃao': '531',
 'Dominica': '212',
 'DominicanRepublic': '214',
 'Grenada': '308',
 'Guadeloupe': '312',
 'Haiti': '332',
 'Jamaica': '388',
 'Martinique': '474',
 'Montserrat': '500',
 'PuertoRico': '630',
 'SaintBarthelemy': '652',
 'SaintKittsandNevis': '659',
 'SaintLucia': '662',
 'SaintMartinFrenchpart': '663',
 'SaintVincentandtheGrenadines': '670',
 'SintMaartenDutchpart': '534',
 'TrinidadandTobago': '780',
 'TurksandCaicosIslands': '796',
 'UnitedStatesVirginIslands': '850',
 'CentralAmerica': '916',
 'Belize': '84',
 'CostaRica': '188',
 'ElSalvador': '222',
 'Guatemala': '320',
 'Honduras': '340',
 'Mexico': '484',
 'Nicaragua': '558',
 'Panama': '591',
 'SouthAmerica': '931',
 'Argentina': '32',
 'BoliviaPlurinationalStateof': '68',
 'Brazil': '76',
 'Chile': '152',
 'Colombia': '170',
 'Ecuador': '218',
 'FalklandIslandsMalvinas': '238',
 'FrenchGuiana': '254',
 'Guyana': '328',
 'Paraguay': '600',
 'Peru': '604',
 'Suriname': '740',
 'Uruguay': '858',
 'VenezuelaBolivarianRepublicof': '862',
 'NORTHERNAMERICA': '905',
 'Bermuda': '60',
 'Canada': '124',
 'Greenland': '304',
 'SaintPierreandMiquelon': '666',
 'UnitedStatesofAmerica': '840',
 'OCEANIA': '909',
 'Australia': '36',
 'NewZealand': '554',
 'Melanesia': '928',
 'Fiji': '242',
 'NewCaledonia': '540',
 'PapuaNewGuinea': '598',
 'SolomonIslands': '90',
 'Vanuatu': '548',
 'Micronesia': '954',
 'Guam': '316',
 'Kiribati': '296',
 'MarshallIslands': '584',
 'MicronesiaFedStatesof': '583',
 'Nauru': '520',
 'NorthernMarianaIslands': '580',
 'Palau': '585',
 'Polynesia': '957',
 'AmericanSamoa': '16',
 'CookIslands': '184',
 'FrenchPolynesia': '258',
 'Niue': '570',
 'Samoa': '882',
 'Tokelau': '772',
 'Tonga': '776',
 'Tuvalu': '798',
 'WallisandFutunaIslands': '876'}

Now we create a new column called 'Origin_Code_New' and fill it with the values of the dictionary, matching them to the values of column 'Origin'. This will match each country and region name to it's corresponding code.

In [1543]:
onu['Origin_Code_New'] = onu.Origin.replace(my_dict)
onu

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2,Origin_Code_New
0,WORLD,900,WORLD,900,152986157,161289976,173230585,191446828,220983187,247958644,280598105,77563467,81581501,87719833,97663081,113940881,128238058,145655844,75422690,79708475,85510752,93783747,107042306,119720586,134942261,900
1,WORLD,900,SubSaharanAfrica,947,15334807,16488973,15638014,17274985,19942724,24197211,28284538,8136844,8677806,8246575,9227058,10531120,12578348,14732802,7197963,7811167,7391439,8047927,9411604,11618863,13551736,947
2,WORLD,900,NorthernAfricaandWesternAsia,1833,16365218,18069437,19437054,21867791,25313711,32606047,37563820,8830013,9829261,10736407,12097241,14249463,18177303,20941050,7535205,8240176,8700647,9770550,11064248,14428744,16622770,1833
3,WORLD,900,CentralandSouthernAsia,921,31104020,29069983,30897694,33347690,41082388,46481130,51229549,17054672,16042463,17179372,18895884,24444167,27971106,31211577,14049348,13027520,13718322,14451806,16638221,18510024,20017972,921
4,WORLD,900,EasternandSouthEasternAsia,1832,14774419,17860923,21440854,25556983,30977206,35205590,38400740,7414751,8861759,10500432,12487051,15130964,17150433,18801912,7359668,8999164,10940422,13069932,15846242,18055157,19598828,1832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37046,WallisandFutunaIslands,876,FrenchPolynesia,258,18,23,28,32,19,15,10,10,12,15,16,10,8,5,8,11,13,16,9,7,5,258
37047,WallisandFutunaIslands,876,Mayotte,175,35,44,52,58,41,38,27,19,24,28,30,23,26,18,16,20,24,28,18,12,9,175
37048,WallisandFutunaIslands,876,NewCaledonia,540,843,975,1152,1207,1093,1021,1021,433,495,578,609,548,508,509,410,480,574,598,545,513,512,540
37049,WallisandFutunaIslands,876,Vanuatu,548,152,165,195,197,138,72,67,79,85,99,100,70,38,39,73,80,96,97,68,34,28,548
37050,WallisandFutunaIslands,876,Other,2003,27,36,43,51,25,27,26,15,20,23,26,13,12,13,12,16,20,25,12,15,13,Other

We replace the values of the 'old' 'Origin_Code' column to the values of 'Origin_Code_New'

In [1544]:
onu.Origin_Code = onu.Origin_Code_New

And finally, we drop 'Origin_Code_New'

In [1545]:
onu.drop(['Origin_Code_New'], axis=1, inplace=True)

In [1546]:
onu

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
0,WORLD,900,WORLD,900,152986157,161289976,173230585,191446828,220983187,247958644,280598105,77563467,81581501,87719833,97663081,113940881,128238058,145655844,75422690,79708475,85510752,93783747,107042306,119720586,134942261
1,WORLD,900,SubSaharanAfrica,947,15334807,16488973,15638014,17274985,19942724,24197211,28284538,8136844,8677806,8246575,9227058,10531120,12578348,14732802,7197963,7811167,7391439,8047927,9411604,11618863,13551736
2,WORLD,900,NorthernAfricaandWesternAsia,1833,16365218,18069437,19437054,21867791,25313711,32606047,37563820,8830013,9829261,10736407,12097241,14249463,18177303,20941050,7535205,8240176,8700647,9770550,11064248,14428744,16622770
3,WORLD,900,CentralandSouthernAsia,921,31104020,29069983,30897694,33347690,41082388,46481130,51229549,17054672,16042463,17179372,18895884,24444167,27971106,31211577,14049348,13027520,13718322,14451806,16638221,18510024,20017972
4,WORLD,900,EasternandSouthEasternAsia,1832,14774419,17860923,21440854,25556983,30977206,35205590,38400740,7414751,8861759,10500432,12487051,15130964,17150433,18801912,7359668,8999164,10940422,13069932,15846242,18055157,19598828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37046,WallisandFutunaIslands,876,FrenchPolynesia,258,18,23,28,32,19,15,10,10,12,15,16,10,8,5,8,11,13,16,9,7,5
37047,WallisandFutunaIslands,876,Mayotte,175,35,44,52,58,41,38,27,19,24,28,30,23,26,18,16,20,24,28,18,12,9
37048,WallisandFutunaIslands,876,NewCaledonia,540,843,975,1152,1207,1093,1021,1021,433,495,578,609,548,508,509,410,480,574,598,545,513,512
37049,WallisandFutunaIslands,876,Vanuatu,548,152,165,195,197,138,72,67,79,85,99,100,70,38,39,73,80,96,97,68,34,28
37050,WallisandFutunaIslands,876,Other,Other,27,36,43,51,25,27,26,15,20,23,26,13,12,13,12,16,20,25,12,15,13

We look for duplicates and drop them

In [1547]:
onu.duplicated().sum()

624

In [1548]:
onu = onu.drop_duplicates()
onu

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
0,WORLD,900,WORLD,900,152986157,161289976,173230585,191446828,220983187,247958644,280598105,77563467,81581501,87719833,97663081,113940881,128238058,145655844,75422690,79708475,85510752,93783747,107042306,119720586,134942261
1,WORLD,900,SubSaharanAfrica,947,15334807,16488973,15638014,17274985,19942724,24197211,28284538,8136844,8677806,8246575,9227058,10531120,12578348,14732802,7197963,7811167,7391439,8047927,9411604,11618863,13551736
2,WORLD,900,NorthernAfricaandWesternAsia,1833,16365218,18069437,19437054,21867791,25313711,32606047,37563820,8830013,9829261,10736407,12097241,14249463,18177303,20941050,7535205,8240176,8700647,9770550,11064248,14428744,16622770
3,WORLD,900,CentralandSouthernAsia,921,31104020,29069983,30897694,33347690,41082388,46481130,51229549,17054672,16042463,17179372,18895884,24444167,27971106,31211577,14049348,13027520,13718322,14451806,16638221,18510024,20017972
4,WORLD,900,EasternandSouthEasternAsia,1832,14774419,17860923,21440854,25556983,30977206,35205590,38400740,7414751,8861759,10500432,12487051,15130964,17150433,18801912,7359668,8999164,10940422,13069932,15846242,18055157,19598828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37046,WallisandFutunaIslands,876,FrenchPolynesia,258,18,23,28,32,19,15,10,10,12,15,16,10,8,5,8,11,13,16,9,7,5
37047,WallisandFutunaIslands,876,Mayotte,175,35,44,52,58,41,38,27,19,24,28,30,23,26,18,16,20,24,28,18,12,9
37048,WallisandFutunaIslands,876,NewCaledonia,540,843,975,1152,1207,1093,1021,1021,433,495,578,609,548,508,509,410,480,574,598,545,513,512
37049,WallisandFutunaIslands,876,Vanuatu,548,152,165,195,197,138,72,67,79,85,99,100,70,38,39,73,80,96,97,68,34,28
37050,WallisandFutunaIslands,876,Other,Other,27,36,43,51,25,27,26,15,20,23,26,13,12,13,12,16,20,25,12,15,13

We also drop rows that contain the total migration data, since they will affect the statistics, and the rows containing values we can't match to a specific country, continent or region.

In [1549]:
onu = onu.drop(onu[(onu['Destination'] == 'WORLD') | (onu['Origin'] == 'WORLD') | (onu['Origin'] == 'Other') | (onu['Origin'] == 'BR') | (onu['Origin']=='B') ].index)

In [1550]:
onu.reset_index(drop=True, inplace=True)
onu

,Destination,Destination_Code,Origin,Origin_Code,1990,1995,2000,2005,2010,2015,2020,1990.1,1995.1,2000.1,2005.1,2010.1,2015.1,2020.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2020.2
0,SubSaharanAfrica,947,SubSaharanAfrica,947,11491413,12385544,11091197,11723891,12954574,16017580,17808594,6137524,6531078,5859981,6328179,6902119,8414178,9335728,5353889,5854466,5231216,5395712,6052455,7603402,8472866
1,SubSaharanAfrica,947,NorthernAfricaandWesternAsia,1833,269548,446209,533205,818996,613560,1145027,1239160,137100,227689,273080,409305,294282,554696,593971,132448,218520,260125,409691,319278,590331,645189
2,SubSaharanAfrica,947,CentralandSouthernAsia,921,37926,44360,57476,75963,121267,144452,128690,21805,26558,34986,45139,72177,90094,84521,16121,17802,22490,30824,49090,54358,44169
3,SubSaharanAfrica,947,EasternandSouthEasternAsia,1832,29235,28724,35275,37997,43826,48065,51394,15583,15287,17207,20052,24418,27324,30144,13652,13437,18068,17945,19408,20741,21250
4,SubSaharanAfrica,947,LatinAmericaandtheCaribbean,1830,8497,7946,8183,9240,17434,28430,30679,3786,3729,3879,4420,8324,14227,16055,4711,4217,4304,4820,9110,14203,14624
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35418,WallisandFutunaIslands,876,France,250,327,461,545,646,795,877,889,170,236,275,326,402,443,446,157,225,270,320,393,434,443
35419,WallisandFutunaIslands,876,FrenchPolynesia,258,18,23,28,32,19,15,10,10,12,15,16,10,8,5,8,11,13,16,9,7,5
35420,WallisandFutunaIslands,876,Mayotte,175,35,44,52,58,41,38,27,19,24,28,30,23,26,18,16,20,24,28,18,12,9
35421,WallisandFutunaIslands,876,NewCaledonia,540,843,975,1152,1207,1093,1021,1021,433,495,578,609,548,508,509,410,480,574,598,545,513,512
35422,WallisandFutunaIslands,876,Vanuatu,548,152,165,195,197,138,72,67,79,85,99,100,70,38,39,73,80,96,97,68,34,28

We devide the dataset by continents, regions, regions by income and countries.

In [1551]:
europe = onu.loc[onu['Destination']== 'EUROPE']
europeO = onu.loc[onu['Origin']== 'EUROPE']

In [1552]:
africa = onu.loc[onu['Destination']== 'AFRICA']
africaO = onu.loc[onu['Origin']== 'AFRICA']

In [1553]:
oceania = onu.loc[onu['Destination']== 'OCEANIA']
oceaniaO = onu.loc[onu['Origin']== 'OCEANIA']

In [1554]:
asia = onu.loc[onu['Destination']== 'ASIA']
asiaO = onu.loc[onu['Origin']== 'ASIA']

In [1555]:
latam_car = onu.loc[onu['Destination']== 'LATINAMERICAANDTHECARIBBEAN']
latam_carO = onu.loc[onu['Origin']== 'LATINAMERICAANDTHECARIBBEAN']

In [1556]:
nam = onu.loc[onu['Destination']== 'NORTHERNAMERICA']
namO = onu.loc[onu['Origin']== 'NORTHERNAMERICA']

In [1557]:
onu = onu.drop(onu[(onu['Destination'] == 'EUROPE') | (onu['Destination'] == 'AFRICA') | (onu['Destination'] == 'OCEANIA') | (onu['Destination'] == 'ASIA') | (onu['Destination']=='LATINAMERICAANDTHECARIBBEAN') | (onu['Destination']=='NORTHERNAMERICA')].index)

In [1558]:
onu = onu.drop(onu[(onu['Origin'] == 'EUROPE') | (onu['Origin'] == 'AFRICA') | (onu['Origin'] == 'OCEANIA') | (onu['Origin'] == 'ASIA') | (onu['Origin']=='LATINAMERICAANDTHECARIBBEAN') | (onu['Origin']=='NORTHERNAMERICA')].index)

In [1559]:
onu.reset_index(drop=True, inplace=True)

In [1560]:
SubSaharanAfrica = onu.loc[onu['Destination']== 'SubSaharanAfrica']
SubSaharanAfricaO = onu.loc[onu['Origin']== 'SubSaharanAfrica']

In [1561]:
NorthernAfricaandWesternAsia = onu.loc[onu['Destination']== 'NorthernAfricaandWesternAsia']
NorthernAfricaandWesternAsiaO = onu.loc[onu['Origin']== 'NorthernAfricaandWesternAsia']

In [1562]:
CentralandSouthernAsia = onu.loc[onu['Destination']== 'CentralandSouthernAsia']
CentralandSouthernAsiaO = onu.loc[onu['Origin']== 'CentralandSouthernAsia']

In [1563]:
EasternandSouthEasternAsia = onu.loc[onu['Destination']== 'EasternandSouthEasternAsia']
EasternandSouthEasternAsiaO = onu.loc[onu['Origin']== 'EasternandSouthEasternAsia']

In [1564]:
LatinAmericaandtheCaribbean = onu.loc[onu['Destination']== 'LatinAmericaandtheCaribbean']
LatinAmericaandtheCaribbeanO = onu.loc[onu['Origin']== 'LatinAmericaandtheCaribbean']

In [1565]:
OceaniaexcludingAustraliaandNewZealand = onu.loc[onu['Destination']== 'OceaniaexcludingAustraliaandNewZealand']
OceaniaexcludingAustraliaandNewZealandO = onu.loc[onu['Origin']== 'OceaniaexcludingAustraliaandNewZealand']

In [1566]:
AustraliaandNewZealand = onu.loc[onu['Destination']== 'AustraliaandNewZealand']
AustraliaandNewZealandO = onu.loc[onu['Origin']== 'AustraliaandNewZealand']

In [1567]:
EuropeandNorthernAmerica = onu.loc[onu['Destination']== 'EuropeandNorthernAmerica']
EuropeandNorthernAmericaO = onu.loc[onu['Origin']== 'EuropeandNorthernAmerica']

In [1568]:
SouthAmerica = onu.loc[onu['Destination']== 'SouthAmerica']
SouthAmericaO = onu.loc[onu['Origin']== 'SouthAmerica']

In [1569]:
Caribbean = onu.loc[onu['Destination']== 'Caribbean']
CaribbeanO = onu.loc[onu['Origin']== 'Caribbean']

In [1570]:
WesternEurope = onu.loc[onu['Destination']== 'WesternEurope']
WesternEuropeO = onu.loc[onu['Origin']== 'WesternEurope']

In [1571]:
SouthernEurope = onu.loc[onu['Destination']== 'SouthernEurope']
SouthernEuropeO = onu.loc[onu['Origin']== 'SouthernEurope']

In [1572]:
NorthernEurope = onu.loc[onu['Destination']== 'NorthernEurope']
NorthernEuropeO = onu.loc[onu['Origin']== 'NorthernEurope']

In [1573]:
SouthernAsia = onu.loc[onu['Destination']== 'SouthernAsia']
SouthernAsiaO = onu.loc[onu['Origin']== 'SouthernAsia']

In [1574]:
SouthEasternAsia = onu.loc[onu['Destination']== 'SouthEasternAsia']
SouthEasternAsiaO = onu.loc[onu['Origin']== 'SouthEasternAsia']

In [1575]:
EasternAsia = onu.loc[onu['Destination']== 'EasternAsia']
EasternAsiaO = onu.loc[onu['Origin']== 'EasternAsia']

In [1576]:
CentralAsia = onu.loc[onu['Destination']== 'CentralAsia']
CentralAsiaO = onu.loc[onu['Origin']== 'CentralAsia']

In [1577]:
WesternAfrica = onu.loc[onu['Destination']== 'WesternAfrica']
WesternAfricaO = onu.loc[onu['Origin']== 'WesternAfrica']

In [1578]:
SouthernAfrica = onu.loc[onu['Destination']== 'SouthernAfrica']
SouthernAfricaO = onu.loc[onu['Origin']== 'SouthernAfrica']

In [1579]:
NorthernAfrica = onu.loc[onu['Destination']== 'NorthernAfrica']
NorthernAfricaO = onu.loc[onu['Origin']== 'NorthernAfrica']

In [1580]:
EasternAfrica = onu.loc[onu['Destination']== 'EasternAfrica']
EasternAfricaO = onu.loc[onu['Origin']== 'EasternAfrica']

In [1581]:
onu = onu.drop(onu[(onu['Destination'] == 'SubSaharanAfrica') | 
(onu['Destination'] == 'NorthernAfricaandWesternAsia') | 
(onu['Destination'] == 'CentralandSouthernAsia') | 
(onu['Destination'] == 'EasternandSouthEasternAsia') | 
(onu['Destination']=='LatinAmericaandtheCaribbean') | 
(onu['Destination']=='OceaniaexcludingAustraliaandNewZealand') |
(onu['Destination']=='AustraliaandNewZealand') |
(onu['Destination']=='EuropeandNorthernAmerica') |
(onu['Destination']=='SouthAmerica') |
(onu['Destination']=='Caribbean') |
(onu['Destination']=='WesternEurope') |
(onu['Destination']=='SouthernEurope') |
(onu['Destination']=='NorthernEurope') |
(onu['Destination']=='SouthernAsia') |
(onu['Destination']=='SouthEasternAsia') |
(onu['Destination']=='EasternAsia') |
(onu['Destination']=='CentralAsia') |
(onu['Destination']=='WesternAfrica') |
(onu['Destination']=='SouthernAfrica')|
(onu['Destination']=='NorthernAfrica')|
(onu['Destination']=='EasternAfrica')].index)

In [1582]:
onu = onu.drop(onu[(onu['Origin'] == 'SubSaharanAfrica') | 
(onu['Origin'] == 'NorthernAfricaandWesternAsia') | 
(onu['Origin'] == 'CentralandSouthernAsia') | 
(onu['Origin'] == 'EasternandSouthEasternAsia') | 
(onu['Origin']=='LatinAmericaandtheCaribbean') | 
(onu['Origin']=='OceaniaexcludingAustraliaandNewZealand') |
(onu['Origin']=='AustraliaandNewZealand') |
(onu['Origin']=='EuropeandNorthernAmerica') |
(onu['Origin']=='SouthAmerica') |
(onu['Origin']=='Caribbean') |
(onu['Origin']=='WesternEurope') |
(onu['Origin']=='SouthernEurope') |
(onu['Origin']=='NorthernEurope') |
(onu['Origin']=='SouthernAsia') |
(onu['Origin']=='SouthEasternAsia') |
(onu['Origin']=='EasternAsia') |
(onu['Origin']=='CentralAsia') |
(onu['Origin']=='WesternAfrica') |
(onu['Origin']=='SouthernAfrica')|
(onu['Origin']=='NorthernAfrica')|
(onu['Origin']=='EasternAfrica')].index)

In [1583]:
onu.reset_index(drop=True, inplace=True)

In [1584]:
Developedregions = onu.loc[onu['Destination']== 'Developedregions']
DevelopedregionsO = onu.loc[onu['Origin']== 'Developedregions']

In [1585]:
Lessdevelopedregions = onu.loc[onu['Destination']== 'Lessdevelopedregions']
LessdevelopedregionsO = onu.loc[onu['Origin']== 'Lessdevelopedregions']

In [1586]:
Leastdevelopedcountries = onu.loc[onu['Destination']== 'Leastdevelopedcountries']
LeastdevelopedcountriesO = onu.loc[onu['Origin']== 'Leastdevelopedcountries']

In [1587]:
LandlockedDevelopingCountriesLLDC = onu.loc[onu['Destination']== 'LandlockedDevelopingCountriesLLDC']
LandlockedDevelopingCountriesLLDCO = onu.loc[onu['Origin']== 'LandlockedDevelopingCountriesLLDC']

In [1588]:
SmallislanddevelopingStatesSIDS = onu.loc[onu['Destination']== 'SmallislanddevelopingStatesSIDS']
SmallislanddevelopingStatesSIDSO = onu.loc[onu['Origin']== 'SmallislanddevelopingStatesSIDS']

In [1589]:
Uppermiddleincomecountries = onu.loc[onu['Destination']== 'Uppermiddleincomecountries']
UppermiddleincomecountriesO = onu.loc[onu['Origin']== 'Uppermiddleincomecountries']

In [1590]:
Middleincomecountries = onu.loc[onu['Destination']== 'Middleincomecountries']
MiddleincomecountriesO = onu.loc[onu['Origin']== 'Middleincomecountries']

In [1591]:
Lowermiddleincomecountries = onu.loc[onu['Destination']== 'Lowermiddleincomecountries']
LowermiddleincomecountriesO = onu.loc[onu['Origin']== 'Lowermiddleincomecountries']

In [1592]:
Lowincomecountries = onu.loc[onu['Destination']== 'Lowincomecountries']
LowincomecountriesO = onu.loc[onu['Origin']== 'Lowincomecountries']

In [1593]:
Highincomecountries = onu.loc[onu['Destination']== 'Highincomecountries']
HighincomecountriesO = onu.loc[onu['Origin']== 'Highincomecountries']

In [1594]:
onu = onu.drop(onu[(onu['Destination'] == 'Developedregions') | 
(onu['Destination'] == 'Lessdevelopedregions') | 
(onu['Destination'] == 'Leastdevelopedcountries') | 
(onu['Destination'] == 'LandlockedDevelopingCountriesLLDC') | 
(onu['Destination']=='SmallislanddevelopingStatesSIDS') | 
(onu['Destination']=='Highincomecountries') |
(onu['Destination']=='Middleincomecountries') |
(onu['Destination']=='Uppermiddleincomecountries') |
(onu['Destination']=='Lowermiddleincomecountries') |
(onu['Destination']=='Lowincomecountries')].index)

In [1595]:
onu = onu.drop(onu[(onu['Origin'] == 'Developedregions') | 
(onu['Origin'] == 'Lessdevelopedregions') | 
(onu['Origin'] == 'Leastdevelopedcountries') | 
(onu['Origin'] == 'LandlockedDevelopingCountriesLLDC') | 
(onu['Origin']=='SmallislanddevelopingStatesSIDS') | 
(onu['Origin']=='Highincomecountries') |
(onu['Origin']=='Middleincomecountries') |
(onu['Origin']=='Uppermiddleincomecountries') |
(onu['Origin']=='Lowermiddleincomecountries') |
(onu['Origin']=='Lowincomecountries')].index)

In [1596]:
onu.reset_index(drop=True, inplace=True)

In [1597]:
MiddleAfrica = onu.loc[onu['Destination']== 'MiddleAfrica']
MiddleAfricaO = onu.loc[onu['Origin']== 'MiddleAfrica']

In [1598]:
WesternAsia = onu.loc[onu['Destination']== 'WesternAsia']
WesternAsiaO = onu.loc[onu['Origin']== 'WesternAsia']

In [1599]:
EasternEurope = onu.loc[onu['Destination']== 'EasternEurope']
EasternEuropeO = onu.loc[onu['Origin']== 'EasternEurope']

In [1600]:
CentralAmerica = onu.loc[onu['Destination']== 'CentralAmerica']
CentralAmericaO = onu.loc[onu['Origin']== 'CentralAmerica']

In [1601]:
onu = onu.drop(onu[(onu['Destination'] == 'MiddleAfrica') | 
(onu['Destination'] == 'WesternAsia') | 
(onu['Destination'] == 'EasternEurope') | 
(onu['Destination'] == 'CentralAmerica')].index)

In [1602]:
onu = onu.drop(onu[(onu['Origin'] == 'MiddleAfrica') | 
(onu['Origin'] == 'WesternAsia') | 
(onu['Origin'] == 'EasternEurope') | 
(onu['Origin'] == 'CentralAmerica')].index)

In [1603]:
onu.reset_index(drop=True, inplace=True)

In [1604]:
countries = onu
countries
countries = countries.to_csv('countries.csv')

In [1605]:
continents_destination = pd.concat([europe, africa, oceania, asia, latam_car, nam])
continents_destination.reset_index(drop=True, inplace=True)
continents_destination = continents_destination.to_csv('continents_destination.csv')

In [1606]:
continents_origin = pd.concat([europeO, africaO,oceaniaO, asiaO, latam_carO, namO])
continents_origin.reset_index(drop=True, inplace=True)
continents_origin = continents_origin.to_csv('continents_origin.csv')

In [1607]:
regions_destination = pd.concat([SubSaharanAfrica, NorthernAfricaandWesternAsia, CentralandSouthernAsia, EasternandSouthEasternAsia,LatinAmericaandtheCaribbean, OceaniaexcludingAustraliaandNewZealand, AustraliaandNewZealand, EuropeandNorthernAmerica, SouthAmerica, Caribbean, WesternEurope, SouthernEurope, NorthernEurope, SouthernAsia, SouthEasternAsia, EasternAsia, CentralAsia, WesternAfrica, SouthernAfrica, NorthernAfrica, EasternAfrica, MiddleAfrica, WesternAsia, EasternEurope, CentralAmerica])
regions_destination.reset_index(drop=True, inplace=True)
regions_destination = regions_destination.to_csv('regions_destination.csv')

In [1608]:
regions_origin = pd.concat([SubSaharanAfricaO, NorthernAfricaandWesternAsiaO, CentralandSouthernAsiaO, EasternandSouthEasternAsiaO,LatinAmericaandtheCaribbeanO, OceaniaexcludingAustraliaandNewZealandO, AustraliaandNewZealandO, EuropeandNorthernAmericaO, SouthAmericaO, CaribbeanO, WesternEuropeO, SouthernEuropeO, NorthernEuropeO, SouthernAsiaO, SouthEasternAsiaO, EasternAsiaO, CentralAsiaO, WesternAfricaO, SouthernAfricaO, NorthernAfricaO, EasternAfricaO, MiddleAfricaO, WesternAsiaO, EasternEuropeO, CentralAmericaO])
regions_origin.reset_index(drop=True, inplace=True)
regions_origin = regions_origin.to_csv('regions_origin.csv')

In [1609]:
regions_by_income_destination = pd.concat([Developedregions, Lessdevelopedregions, Leastdevelopedcountries, LandlockedDevelopingCountriesLLDC, SmallislanddevelopingStatesSIDS, Highincomecountries, Middleincomecountries, Uppermiddleincomecountries, Lowermiddleincomecountries, Lowincomecountries])
regions_by_income_destination.reset_index(drop=True, inplace=True)
regions_by_income_destination = regions_by_income_destination.to_csv('regions_by_income_destination.csv')

In [1610]:
regions_by_income_origin = pd.concat([DevelopedregionsO, LessdevelopedregionsO, LeastdevelopedcountriesO, LandlockedDevelopingCountriesLLDCO, SmallislanddevelopingStatesSIDSO, HighincomecountriesO, MiddleincomecountriesO, UppermiddleincomecountriesO, LowermiddleincomecountriesO, LowincomecountriesO])
regions_by_income_origin.reset_index(drop=True, inplace=True)
regions_by_income_origin = regions_by_income_origin.to_csv('regions_by_income_origin.csv')